    <h1>hello</h1>
    {{#each summoners}}
    {{!-- decide later whether or not to use forms to delete or ajax --}}
      {{!-- <form action="/api/articles/delete/{{_id}}" method="POST"> --}}
        <div class="container" id ="titleDiv">
          <div>{{name}}</div>
        </div>
      {{!-- </form> --}}
          {{!-- <div class=text-right><button class="btn btn-dark " data-id={{_id}} data-savevalue = "true"id="save">save</button></div> --}}
    {{/each}}
    