*{  
    margin: auto 0;
    box-sizing: border-box;

}

h1{
    text-align: center;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: #efefefda;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }

#search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}
#input-field{
    height: 45px;
    width: 50%
}
#search-button{
    height: 90%
}
#jumbo_div{
    background: url("https://raw.githubusercontent.com/DC-Developer/Jungle-Corner/master/public/assests/images/source.gif")center center no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 700px;
    color: rgba(255, 255, 255, 0.986);
    font-size: 30px;
}
.display-3{
    padding: 100px;
    text-shadow: 0px 5px 7px rgba(255, 10, 10, 0.788);
    font-size: 3em;
    font-weight: bold;
}
.lead{
    font-size: 1em;
    font-weight: bold;
    text-shadow: 0px 5px 7px rgba(255, 10, 10, 0.788);
}
#summoner_div{
    background-color: rgba(255, 10, 10, 0.788);
    padding: 5px 5px;
    border-bottom: 1px solid black;
}
#summoner_container{
    padding-bottom: 20px;
}

